.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 30px;
  background-color: black;
  text-align: center;
  color: white;
}

.scrolly{
  height: 70vh;
  overflow-y: overlay;
}
  .inv{
    border-bottom: 1px solid grey !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-radius: 0 !important;
    background: inherit !important;
 
    
}
.invoice-table{
  border-bottom: 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  background: inherit !important;
 
  
}


.form-cntrl{
  height: calc(.5em + .5rem + 1px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
}

.qty{
  width:100px;
}
.items{
  width:1000px;
}
.rate{
  width:200px;
}
.per {
  width:200px;
}
.ammount{
  width:300px;
}